```{=html}
<div class="list quarto-listing-default">
    <% for (const item of items) { %>

    <div class="quarto-post image-right" <%= metadataAttrs(item) %> >
        <div class="thumbnail">
            <!-- <a href="<%- item.path %>"> -->

                <p>
                    <% if (item.image) { %>
                    <img alt="<%= item.title %>" src="<%= item.image %>" class="thumbnail-image">
                    <% } %>

                </p>


            <!-- </a> -->
        </div>
        <div class="body">
            <!-- <a href="<%- item.path %>"> -->
            <div class="no-anchor listing-pub-title listing-title"><%= item.title %></div>
            <!-- </a> -->
            <!-- <a href="<%- item.path %>"> -->

                <div class="listing-pub-author listing-author">
                    <%= item.author %><% if (item.director) { %>, <%= item.director %> (Director)<% } %><br>
                </div>

                <div class="metadata-value listing-pub-journal listing-network">
                    <% if (item.item_type) { %>
                        <%= item.item_type %><% if (item.network) { %>, <%= item.network %><% } %><% if (item.episode) { %>, <%= item.episode %><% } %><% if (item.place) { %>, <%= item.place %><% } %><% if (item.year) { %>, (<%= item.year %>)<% } %><br>

                        <% } %>




                </div>



            <!-- </a> -->
 <!--               <div class="listing-categories">
                <% for (const category of item.categories) { %>
                <div class="listing-category" onclick="window.quartoListingCategory('<%=category%>'); return false;"><%= category %></div>
                <% } %>
                </div>
                -->
        </div>
        <div class="metadata">
            <!-- <a href="<%- item.path %>"> -->

            <!-- </a> -->
            <% if (item.url_source) { %>
            <div class="listing-pub-url">

                    <a href="<%- item.url_source %>">
                    <p style="color:#1a5a96;">URL <i class="bi bi-box-arrow-up-right"></i></p>
                    </a>
                </div>
                    <% } %>


        </div>
    </div>

    <% } %>
    </div>

```